@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Quicksand:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand'; 
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display:block;
    height: 128px;
    left: 0px;
    top: 0px;
    background: #148F77;
}

.header-logo {
    position: absolute;
    width: 150px;
    height: 29px;
    left: 162px;
    top: 49px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 29px;
    color: #000000;
}

.header-logo span {
    color: #fff;
}

.header-list li {
    float: left;
    padding: 49px 33px;
    margin-left: 400px;
    margin-right: -434px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000 ;
}

.header-right {
    position: absolute;
    padding: 5px 5px;
    width: 155px;
    height: 64px;
    left: 1000px;
    top: 32px;

    background: #000000;
    border-radius: 20px;
    float: right;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.header-right a{
    line-height: 49px;
    padding-left: 45px;
    padding-right: 25px;
    color: white;
    display:block;
    transition:all 0.5s;
}

.header-right:hover {
    background-color: rgba(26, 5, 5, 0.5);
}

.header-right2{
    position: absolute;
    width: 78px;
    height: 30px;
    left: 1178px;
    top: 53px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    }

.header-right2 a {
    line-height: 25px;
    padding-left: 45px;
    padding-right: 25px;
    color: white;
    display:block;
    transition:all 0.5s;
    }

main {
    display: block;
    padding: 40px 0;
}

main .copy-container {
    width: 80%;
    margin: 100px auto;
    padding: 40px 0;
    height: 300px;
}

main .copy-container h1 {
    float: left;
    width: 689px;
    font-size: 64px;
    color: #000000;

}

main .copy-container img {
    float: right;
    width: 448px;
}


footer {
    background: #148f77;
    height: 300px;
    padding: 50px 0;
}

.footer-content {
    width: 80%;
    margin: auto;

}

footer .list {
    margin: auto;
}

footer .list a {
    color: #000;
    margin-right: 25px
}

footer .social {
    margin: 30px 0;
}

footer .social a {
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: 3s linear
}

footer .social a:hover{
    color: rgb(75, 0, 0);
}

footer .left-box {
    float: left;
}
footer .right-box {
    float: right;
    margin: 30px 0;
}


.contents { 
    width: 80%;
    margin: 100px auto;
    padding: 40px 0;
    height: 500px;
}

.section-title {
    display: block;
    font-size: 36px;
    color: #000000;
    border-bottom: 2px solid #dee7ec;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.contents-item {
    float: left;
    padding-right: 30px; 
}


.contents-item p {
    font-size: 24px;
    padding-top: 10px;
}

.contents-item span {
    color: #148F77;
}
